<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazona</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="grid-container">
        
      <header class="row">
            <div>
                <a href="index.html" class="brand">Amazona</a>
            </div>
            <div>
                <a href="cart.html">cart</a>
                <a href="SignIn.html">Sign In</a>
            </div>
      </header>  
       
      <main>
            
            <div class="row center">
               
                <div class="card-body">
                      <div class="card">
                            <a href="product.hmtl"><img class ="medium" src="../images/img.jpeg" alt="product"> </a>
                      </div>
                            <div><a href="product.html" class="product-name"><h2>Modern Dress</h2></a></div>
                
                      <div class="rating">
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                      </div>
                      <div class="price">250£</div>
                
                </div>
                 <div class="card-body">
                      <div class="card">
                            <a href="product.hmtl"><img class ="medium" src="../images/img.jpeg" alt="product"> </a>
                      </div>
                            <div><a href="product.html" class="product-name"><h2>Modern Dress</h2></a></div>
                
                      <div class="rating">
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                      </div>
                      <div class="price">250£</div>
                
                </div>
                 <div class="card-body">
                      <div class="card">
                            <a href="product.hmtl"><img class ="medium" src="../images/img.jpeg" alt="product"> </a>
                      </div>
                            <div><a href="product.html" class="product-name"><h2>Modern Dress</h2></a></div>
                
                      <div class="rating">
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                      </div>
                      <div class="price">250£</div>
                
                </div>
                 <div class="card-body">
                      <div class="card">
                            <a href="product.hmtl"><img class ="medium" src="../images/img.jpeg" alt="product"> </a>
                      </div>
                            <div><a href="product.html" class="product-name"><h2>Modern Dress</h2></a></div>
                
                      <div class="rating">
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                      </div>
                      <div class="price">250£</div>
                
                </div>
                 <div class="card-body">
                      <div class="card">
                            <a href="product.hmtl"><img class ="medium" src="../images/img.jpeg" alt="product"> </a>
                      </div>
                            <div><a href="product.html" class="product-name"><h2>Modern Dress</h2></a></div>
                
                      <div class="rating">
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                      </div>
                      <div class="price">250£</div>
                
                </div>
                 <div class="card-body">
                      <div class="card">
                            <a href="product.hmtl"><img class ="medium" src="../images/img.jpeg" alt="product"> </a>
                      </div>
                            <div><a href="product.html" class="product-name"><h2>Modern Dress</h2></a></div>
                
                      <div class="rating">
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                      </div>
                      <div class="price">250£</div>
                
                </div>
                 <div class="card-body">
                      <div class="card">
                            <a href="product.hmtl"><img class ="medium" src="../images/img.jpeg" alt="product"> </a>
                      </div>
                            <div><a href="product.html" class="product-name"><h2>Modern Dress</h2></a></div>
                
                      <div class="rating">
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                      </div>
                      <div class="price">250£</div>
                
                </div>
                 <div class="card-body">
                      <div class="card">
                            <a href="product.hmtl"><img class ="medium" src="../images/img.jpeg" alt="product"> </a>
                      </div>
                            <div><a href="product.html" class="product-name"><h2>Modern Dress</h2></a></div>
                
                      <div class="rating">
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                      </div>
                      <div class="price">250£</div>
                
                </div>
                 <div class="card-body">
                      <div class="card">
                            <a href="product.hmtl"><img class ="medium" src="../images/img.jpeg" alt="product"> </a>
                      </div>
                            <div><a href="product.html" class="product-name"><h2>Modern Dress</h2></a></div>
                
                      <div class="rating">
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                      </div>
                      <div class="price">250£</div>
                
                </div>
                 <div class="card-body">
                      <div class="card">
                            <a href="product.hmtl"><img class ="medium" src="../images/img.jpeg" alt="product"> </a>
                      </div>
                            <div><a href="product.html" class="product-name"><h2>Modern Dress</h2></a></div>
                
                      <div class="rating">
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                             <span><i class="fas fa-star"></i></span>
                      </div>
                      <div class="price">250£</div>
                
                </div>
                
            </div>
            
     </main>
        
     <footer class="row center">
            all rights reserved
     </footer>
        
        
    </div>
    
</body>
</html>